<div class="content">
  <div class="close-others-control">
    <label for="closeOthers">Should close other groups on click</label>
    <input #closeOthersCheckbox id="closeOthers" type="checkbox" (change)="closeOthers = closeOthersCheckbox.checked" />
  </div>
  <ng-accordion [closeOthers]="closeOthers">
    <ng-accordion-group header="Spoiler. Do not watch">
      <p class="message">Daenerys Targaryen died in the last episode</p>
    </ng-accordion-group>
    <ng-accordion-group header="Lazy data">
      <ng-template ng-accordion-content>
        <div *ngIf="loading" class="spinner">
          <div class="bounce1"></div>
          <div class="bounce2"></div>
          <div class="bounce3"></div>
        </div>

        <p class="message">{{ message$ | async }}</p>
      </ng-template>
    </ng-accordion-group>
  </ng-accordion>
</div>
